<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
</head>
<body>
<h2>Articles</h2>
<a href="/home">Home</a>
</br>
<a href="/analytics">Analytics</a>
<br>
<a href="/contacts">Contacts</a>
<br>
<a href="/category">Category</a>
<br>
<br>
{% for article in articles %}
    {{ article.title }}
    <br>
{% endfor %}


</body>
</html>
