<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{ test }}</h2>
    <a href="/analytics">Analytics</a>
    <br>
    <a href="/articles">Articles</a>
    <br>
    <a href="/contacts">Contacts</a>
</body>
</html>